*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
   background: linear-gradient(145deg,brown 50%, salmon 100% );
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  
}

p{
    font-weight: 300;

}

input, button {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;


}
#btn-numero {
    width: 6rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border: 0.1rem solid rgba(175, 175, 175, 0.308);
    border-radius: 0.5rem 0 0 0.5rem;
}

.caixa-de-botao {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

#btn-tentar, #btn-jogar-novamente, #btn-tentar-novamente{
    padding: 1rem;
    cursor: pointer;
    background-color: brown;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    transition: background 0.2s;
    border-radius: 0 0.5rem 0.5rem 0;


}
#btn-jogar-novamente, #btn-tentar-novamente {
    border-radius: 0.5rem;
}
#btn-tentar:hover, #btn-jogar-novamente:hover, #btn-tentar-novamente:hover {
    background-color: rgb(167, 64, 64);
}

main {
    margin-top: -25rem;
    height: 18rem;
    width: min(32rem, 98%);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.caixa-2.hide, .caixa-1.hide, .caixa-3.hide {
    display: none;
}
.texto-tentativa {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
span {
    font-weight: 300;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media (min-width: 426px) {
    main {
        width: 42.5rem;
        padding: 4rem;
    }
}